{% extends 'base.html.twig' %}

{% block title %}Log in{% endblock %}

{% block stylesheets %}
    {{ parent() }}    
    <link href="{{ asset('_css/login.css') }}" rel="stylesheet" />
{% endblock %}

{% block body %}

<main>
  <div class="div-geral">

    <div class="div-img">
      <img src="_images/recursosdidaticos-logo.jpg" alt="Logo Recursos Didáticos" class="logo-rd">
    </div>

    <div class="div-form">
      <form method="post">
          <label for="inputEmail"></label>
          <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control" autocomplete="email" required autofocus placeholder="Email">
          
          <label for="inputPassword"></label>
          <input type="password" name="password" id="inputPassword" class="form-control" autocomplete="current-password" required placeholder="Password">

          <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

          <button class="btn btn-lg btn-primary" type="submit">
              Login
          </button> 

          {% if error %}
              <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
          {% endif %}

          {% if app.user %}
              <div class="mb-3">
                  You are logged in as {{ app.user.username }}, <a href="{{ path('app_logout') }}">Logout</a>
              </div>
          {% endif %}
      </form>
      <button class="btn-signup"> <a  href="{{ path('novo_usuario')}}" class="a-signup">Inscrever-se</a>
      </button>
    </div>
  </div>
</main>
{% endblock %}
