{% extends 'base.html.twig' %}

{% block title %}RD Groups{% endblock %}

{% block stylesheets %}
    {{ parent() }}    
    <link href="{{ asset('_css/index.css') }}" rel="stylesheet" />
{% endblock %}

{% block body %}

<main>

  <div class="div-geral">

      <div class="div-logo">
        <img src="/_images/recursosdidaticos-logo.jpg" alt="Logo Recursos Didáticos" class="logo-rd">
      </div>      
     
                      
      <div class="div-search"> 
       
        {{ form_start(form) }}
        <span class="span-bar">{{form_row(form.busca)}}</span>   
        <span class="span-search">{{form_row(form.search)}}</span>      
        {{ form_end(form) }} 

         <div class="div-novogrupo">    
          <button class="btn-novogrupo"><a href="{{ path('criargrupo')}}" class="a-novogrupo" >+</a></button>
        </div> 

      </div>

      

      <div class="div-grupos">
        {% for grupo in grupos %}
        

            <div class="div-grupo">

              <div class="div-img">
              
              </div>

              <div class="grupo-content">
                <li class="li-nomeGrupo">{{ grupo.nomeGrupo }}</li> 
                <li class="li-apresentacao">{{grupo.apresentacao }}</li>  

                <div class="div-btn_grupo"> 
                  
                  
                  <form action="{{path('membros_index', {'idGrupo':grupo.id})}}" method="get">
                      <button class="btn-membros">Membros</button>                            
                  </form>  

                  <form action="{{path('inscricao', {'idGrupo':grupo.id})}}" method="post"> 
                      <button class="btn-inscricao">Inscrever-se</button>
                  </form>
                  
                  
                </div> 
              </div>
            </div>             
        {% endfor %}  
      </div>    

      
      
  </div>
</main>
{% endblock %}
