{% extends 'base.html.twig' %}

{% block title %}Novo Grupo{% endblock %}

{% block stylesheets %}
    {{ parent() }}  
    <link href="{{ asset('_css/reset.css') }}" rel="stylesheet" />  
    <link href="{{ asset('_css/novogrupo.css') }}" rel="stylesheet" />
{% endblock %}

{% block body %}
  
  <div class="div-header">
      <header>
        <h2>Novo Grupo</h2>
      </header>
  </div>

  <main>
    
      <h2 class="titulo-novogrupo"> Crie seu grupo e convide novos membros para as discussões</h2> 

      <p>Preencha os campos (*) Obrigatórios</p>

        
          {{ form_start(form) }}
          <div class="div-form">
            <div class="div-nomeGrupo">  
              {{form_row(form.nomeGrupo)}} 
            </div>
            <div class="div-apresentacao">
              {{form_row(form.apresentacao)}}
            </div>
            <div class="div-visibilidade">   
              {{form_row(form.visibilidade)}}
            </div>
            <div class="div-fotoCapa">
              {{form_row(form.fotoCapa)}}
            </div>  
          </div>  
          {{ form_end(form) }}
        

  </main>
    

    
    
{% endblock %}
